<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46849492141-mvq9g0lu4vqddfqsisdj9pi41di8j6hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46849492141-mvq9g0lu4vqddfqsisdj9pi41di8j6hv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46849492141-qv26qv1tblmtr6mit9hlks8dhheo8hdf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGxSyP8882kUqcH09algmoTbH4BfhhwvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>46849492141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmerApp</string>
	<key>PROJECT_ID</key>
	<string>farmer-app-78d20</string>
	<key>STORAGE_BUCKET</key>
	<string>farmer-app-78d20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46849492141:ios:f93916e0dbf31a11703224</string>
</dict>
</plist>